.adv {
  padding: 36px 15px 20px;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $vp-tablet) {
    position: relative;
    z-index: 20;
    padding: 60px 0 40px;
    min-width: auto;
    margin: 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 135px 0 100px;
  }
}

.adv__title {
  margin-bottom: 37px;
  text-align: center;

  &::before {
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $vp-desktop) {
      bottom: 26%;
      top: auto;
    }
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 60px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 50px;
  }
}

.adv__slider {
  @media (min-width: $vp-desktop) {
    overflow: hidden;
  }
}
