.complexity {
  display: flex;
  align-items: center;
  column-gap: 1px;
}

.complexity__star {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.complexity__star--filled {
  background-image: url("/__spritemap#sprite-star-white-view");
}

.complexity__star--empty {
  background-image: url("/__spritemap#sprite-star-transparent-view");
}
