.gallery-swiper__img {
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.gallery-swiper__wrapper.swiper-wrapper {
  @media(min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
  }
}

.gallery-swiper__slide.swiper-slide {
  height: auto;
}

.gallery-swiper__slide.gallery-swiper__slide-row-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(133px, auto) minmax(125px, auto);
  row-gap: 6px;

  @media(min-width: $vp-tablet) {
    grid-template-rows: 210px 202px;
  }

  @media(min-width: $vp-desktop) {
    grid-template-rows: minmax(233px, auto) minmax(223px, auto);
  }

}

.gallery-swiper__slide:not(.gallery-swiper__slide-row-2) {
  img {
    min-height: 266px;

    @media(min-width: $vp-tablet) {
      height: 418px;
      object-fit: fill;
    }

    @media(min-width: $vp-desktop) {
      min-height: 463px;
      height: auto;
      max-height: 700px;
      object-fit: cover;
    }
  }
}
