.training {
  padding: 36px 0 20px;
  overflow-x: hidden;

  @media (min-width: $vp-tablet) {
    position: relative;
    padding: 60px 0 42px;

    &::before {
      @include bg-cloud;

      content: "";
      position: absolute;
      display: block;
      width: 500px;
      height: 250px;
      z-index: 10;
      right: -24.5%;
      bottom: 17%;
    }
  }

  @media (min-width: $vp-desktop) {
    padding: 63px 0;

    &::before {
      content: none;
    }
  }

  .container {
    position: relative;
    z-index: 20;
  }

  p {
    margin: 18px 0 27px;

    @media (min-width: $vp-desktop) {
      max-width: 70%;
    }
  }
}

.training__title {
  margin-bottom: 35px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 34px;
  }

  @media (min-width: $vp-desktop) {
    margin-bottom: 32px;
  }
}

.training__header {
  margin-bottom: 23px;

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $vp-desktop) {
    margin: 58px 0 12px;
  }
}

.training__subtitle {
  @media (min-width: $vp-tablet) {
    line-height: 31px;
  }

  @media (min-width: $vp-desktop) {
    line-height: 43px;
  }
}
