// Typography
// ---------------------------------

$ff-primary: "Montserrat", "Arial", sans-serif;

// Colors
// ---------------------------------

$color-base-primary: #2D383F;
$color-base-secondary: #0266C1;
$color-state: #1C3374;
$color-disabled: #999999;
$color-error: #FF121F;
$color-white: #ffffff;
$color-black: #000000;
$color-bullet-hover: #D9D9D9;
$color-transparent: rgba(0, 0, 0, 0);


// Viewports
// ---------------------------------

$vp-mobile: 576px;
$vp-tablet: 768px;
$vp-desktop: 1200px;
$vp-desktop-extra: 2000px;

// Gradient
// ---------------------------------

$overlay-gradient-slider: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0.00) 94.93%);
$overlay-gradient-card: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 22.3%, rgba(0, 0, 0, 0.00) 60.32%);
