// Typography
// ---------------------------------

$ff-primary: "Montserrat", "Arial", sans-serif;

// Colors
// ---------------------------------

$color-base-primary: #2d383f;
$color-base-secondary: #0266c1;
$color-state: #1c3374;
$color-disabled: #999999;
$color-error: #ff121f;
$color-white: #ffffff;
$color-black: #000000;
$color-bullet-hover: #d9d9d9;
$color-transparent: rgba(0, 0, 0, 0);


// Viewports
// ---------------------------------

$vp-mobile: 576px;
$vp-tablet: 768px;
$vp-desktop: 1200px;
$vp-desktop-extra: 1440px;
$vp-desktop-wide: 2066px;

// Gradient
// ---------------------------------

$overlay-gradient-slider: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$overlay-gradient-card: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);
